/* Global CSS file (e.g., App.css) */

/* Ensures that the container is responsive */
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 1;
  padding: 0 10px;
}

.canvas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .button-container {
    top: 5px;
    padding: 0 5px;
  }
}